@media print {
    .spellcard {
        /*14cm x 72 dpi*/
        width: 420px;
        /*10cm x 72 dpi*/
        height: 300px;
    }

    .face {
        width: 210px;
        /*10cm x 72 dpi*/
        height: 300px;
    }

    .back {
        width: 210px;
        /*10cm x 72 dpi*/
        height: 300px;
    }
}

.columns {
    margin: 0;
}

.card {
    box-shadow: unset;
    border: black 1px solid;
    border-radius: 4%;
    position: relative;
}

.card.column {
    padding-left: 0;
    padding-right: 0;
    background-color: #f5e8d5;
}

.spell-class-rank {
    background-color: purple;

    font-size: 13px;
    display: inline-block;
    color: white;
    width: 20px;
    text-align: center;

    position: relative;
}

.spell-class-rank:after {
    content: "";
    display: block;
    border: purple 10px solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: absolute;
    bottom: -10px;
}

.flagpole {
    margin-left: 2%;
    margin-right: 2%;
    border-top: #7d4d1e 2px solid;
    border-radius: 2px;
    font-size: 3px;
}

.card:after {
    top: 7px;
    left: 7px;
    position: absolute;
    content: "";
    display: block;
    border: black 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: white;
}

.card.face:after {
    left: unset;
    right: 7px;
}

.spell-params {
    padding: 5px;
    font-size: 11px;
}

.spell-description {
    padding: 5px;
    margin-top: 15px;
    font-size: 11px;
}

.scroll-texture-0 {
    background-image: url(../texture/scroll-texture-0.jpg);
    background-repeat: repeat;
}

/*
    TODO: make choosable background
 */
.scroll-texture-1 {
    background-image: url(../texture/scroll-texture-1.jpg);
    background-repeat: repeat;
}
