@media print {
    .spellcard {
        /*14cm x 72 dpi*/
        width: 420px;
        /*10cm x 72 dpi*/
        height: 300px;
    }

    .face {
        width: 210px;
        /*10cm x 72 dpi*/
        height: 300px;
    }

    .back {
        width: 210px;
        /*10cm x 72 dpi*/
        height: 300px;
    }
}

.columns {
    margin: 0;
}

.card {
    box-shadow: unset;
    border: black 1px solid;
    border-radius: 4%;
}

.card.column {
    padding-left: 0;
    padding-right: 0;
    background-color: #f5e8d5;
}

.spell-class-rank {
    background-color: purple;

    color: white;
    width: 20px;
    text-align: center;

    position: relative;
}

.spell-class-rank:after {
    content: "";
    display: block;
    border: purple 10px solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: absolute;
    bottom: -10px;
}